body { 
    background: url(https://theunitycodex.files.wordpress.com/2015/04/good-luckbad-luckwho-knows.png?w=442&h=373); 
    background-size: cover;
    background-attachment: fixed;
    align-self: center
}

.content {
    background:wheat;
    width: 50%
    padding: 40px;
    margin: 100px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    background-color: brown;
    align
}
h2 {
    
}

p {
    font-size: 25px;
    color: black;

}

table, th, td {
    border: 1px solid black;
    text-align: center;
  }
    
tfoot {
    column-span: all;
}

.voet {
    color: black;
}