body { 
    background: url(http://static8.depositphotos.com/1439758/1061/v/950/depositphotos_10612890-stock-illustration-old-paper-with-asian-landscape.jpg); 
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    background-color: brown;
}

ul {
    align-self: auto;
    font-size: 25px;
    color: black;
}

p {
    font-size: 25px;
    color: black;

}

table, th, td {
    border: 1px solid black;
    text-align: center;
    tab-size: 50%;
  }
    
tfoot {
    column-span: all;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-github {
    background: black;
    color: white;
}
.fa-linkedin {
    background: blue;
    color: whitesmoke;
}
